div.row{
    padding-bottom: 12px;
}

button > a:hover {
    text-decoration: none;
}

button > a {
    color: grey;
}

button{
    color: gray;
    background-color: black;
    border: 0px;
    border-radius: 5px;
}

input[type=submit] {
    color: grey;
    background-color: black;
    border: 0px;
    border-radius: 5px;
}

